
body{
    /* padding: 2%; */
}

.navbar-brand{
    padding: 25px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: 900;
    font-size: xx-large;
    color: red !important;

}


.bg-light{
background-color: #5643c1 !important;
}


.dropdown-item{
    color: #5643c1 !important;
    /* background-color: #5643c1 !important; */
}


.active{
font-weight: bold;
    color: black !important;
}

.me-2{
    color: #5643c1 !important;

  
}

.btn-outline-success{
    color: #5643c1 !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #5643c1;
    cursor: pointer;
}

.dropdown-toggle{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}









form {
    max-width: 900px;
    margin: auto;
  }
  
  body {
    padding: 20px 20px;
  }
  
  h2.form-title,
  h2.form-section-title {
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #000;
    line-height: 1.15rem;
    margin: 0;
  }
  
  h3.form-section-title {
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #000;
    line-height: 1.2rem;
  }
  
  h4.form-section-title {
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-size: 1.0rem;
    color: #000;
    line-height: 0.95rem;
  }
  
  .form-label {
    display: block;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #000;
    font-weight: 700;
    line-height: 100%;
  }
  
  .form-field-section {
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
  }
  
  .radio-selection {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8125rem;
    color: #000;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }












  
  
  
/* FOOTER  */
footer {
    background-color: #f8f9fa;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10%;
  }
  
  .footer-logo {
    margin: 4%;
    padding-top: 4%;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: red;
    font-size: xx-large;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .socials {
    padding-top: 4%;
    padding-right: 7%;
    /* text-align: center; */
  
    /* margin: 2px 1px; */
  }
  
  .bi-facebook {
    color: #5643c1 !important;
  }
  
  .bi-whatsapp {
    color: red !important;
  }
  
  .bi-twitter-x {
    color: #5643c1 !important;
  }
  
  .bi-instagram {
    color: red !important;
  }
  
  .social-links {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
  }
  
  .ul-footer-links {
    /* text-align: center; */
  }
  
  .footer-links {
    text-align: start;
  
    /* padding-left: 20%; */
  }
  
  .footer-li {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-linktopage {
    text-decoration: none;
  }
  